.list-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.image-text {
  display: flex;
}

.image {
  width: 150px;
}

.title-container {
  margin: 15px;
}

.title {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}

.genre {
  font-family: 'Roboto';
  font-size: 16px;
  color: #3b82f6;
  margin-top: 15px;
  align-self: flex-start;
}

.button-time {
  display: flex;
}

.time {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 3px;
  margin-right: 35px;
}

.button {
  background-color: transparent;
  outline: none;
  align-self: flex-start;
  cursor: pointer;
  border: none;
}
